<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Papelería Ricard2</title>
    <!-- Favicon -->
    <link rel="icon" href="/assets/img/brand/favicon.png" type="image/png" />
    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v3.0.3/css/line.css"
    />
    <!-- Page plugins -->
    <link rel="stylesheet" href="assets/vendor/animate.css/animate.min.css" />
    <link
      rel="stylesheet"
      href="../../assets/vendor/sweetalert2/dist/sweetalert2.min.css"
    />

    <!-- Argon CSS -->
    <link
      rel="stylesheet"
      href="/assets/css/argon.css?v=1.1.0"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/global.css" type="text/css" />

  </head>

  <style>
    .login-logo { max-width: 100%; height: auto; } @media (min-width: 768px) {
    .login-logo { max-width: 65%; height: auto; } }
  </style>
  <script type="text/javascript">
    window.history.forward(); function noBack() { window.history.forward(); }
  </script>

  <body class="bg-default">
    <div class="main-content">
      <!-- Header -->
      <div
        class="header bg-gradient-primary py-7"
        style="padding-top:3rem !important"
      >
        <div class="container">
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-8 col-md-8 px-5">
                <img
                  src="/images/logo/logo.png"
                  class="login-logo"
                  alt=""
                  srcset=""
                />

              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg
            x="0"
            y="0"
            viewBox="0 0 2560 100"
            preserveAspectRatio="none"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon
              class="fill-default"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div
              class="card bg-secondary border-0 mb-0"
              style="position:relative"
            >

              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <h1>¿Olvidaste tu contraseña?</h1>
                  <h2>¡Ingresa tu correo para enviarte un correo para cambiarla!</h2>
                </div>
                <form role="form" autocomplete="off">
                  <span id="emailMsg"></span>
                  <div id="emailDiv" class="form-group mb-3">
                    <div
                      class="input-group input-group-merge input-group-alternative"
                    >
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i
                            class="uil uil-envelope-alt"
                            style="color:#adb5bd; font-size:1.05rem !important"
                          ></i></span>
                      </div>
                      <input
                        id="email"
                        class="form-control"
                        placeholder="Email"
                        type="email"
                      />
                    </div>
                  </div>

                  <div class="text-center">
                    <button
                      id="sendBtn"
                      type="button"
                      class="btn btn-block btn-primary my-4"
                    >Enviar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Core -->
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script
      src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="/assets/vendor/js-cookie/js.cookie.js"></script>
    <script
      src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"
    ></script>
    <script
      src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"
    ></script>

    <script src="/assets/js/argon.js?v=1.1.0"></script>
    <script
      src="../../assets/vendor/sweetalert2/dist/sweetalert2.min.js"
    ></script>

    <!-- Argon JS -->
    <script
      src="assets/vendor/bootstrap-notify/bootstrap-notify.min.js"
    ></script>

    <!-- Page jS -->
    <script src="/js/general.js"></script>
    <script src="/js/recoverPasswordClient.js"></script>

  </body>

</html>